<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TicketsDBConnectionString" connectionString="Data Source=BOT-TFSDT;Initial Catalog=TicketsClientes;Integrated Security = true;" providerName="System.Data.SqlClient" />
    <!--<add name="TicketsDBConnectionString" connectionString="Data Source=BOT-TFSDT;Initial Catalog=TicketsClientes;User Id=UsuarioTT;Password=Tt123456;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="TimeTrackerDBConnectionString" connectionString="Data Source=BOT-VALDEZ;Initial Catalog=TimeTracker;Integrated Security = true;" providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
  <appSettings>
    <add key="DatabaseInitializerForType TicketsDAO.TicketsDBContext, TicketsDAO" value="TicketsDAO.TicketsDBInitializer, TicketsDAO" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>